$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.jumbotron {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  h1 {
    font-family: 'Lobster', cursive;
  }
}

.jumbotron.container span {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: white;
}

.btn-calcular {
  margin-top: 30px;
}

.fa-5x {
  font-size: 7em;
  color: rgb(66, 66, 66);
  margin-top: 30px;
}

.col-md-2 {
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
}

.bottom-jumbo {
  margin-top: 30px;
  h1 {
    background-color: rgba(255, 255, 255, 0.70);
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}
