$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

@mixin default-transition($duration: 0.3s) {
  -moz-transition: all $duration ease-in-out;
  -ms-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;

}

/* when hiding the picture */
.ng-hide-add {
  animation: 1s hinge ease !important;
  //   -webkit-animation-duration: 1s;
  // -moz-animation-duration: 1s;
  // -ms-animation-duration: 1s;
  // -o-animation-duration: 1s;
  // animation-duration: 1s;
  // -webkit-animation-fill-mode: both;
  // -moz-animation-fill-mode: both;
  // -ms-animation-fill-mode: both;
  // -o-animation-fill-mode: both;
  // animation-fill-mode: both;
}

/* when showing the picture */
.ng-hide-remove {
  animation: 1s fadeInDown ease !important;
  //   -webkit-animation-duration: 1s;
  // -moz-animation-duration: 1s;
  // -ms-animation-duration: 1s;
  // -o-animation-duration: 1s;
  // animation-duration: 1s;
  // -webkit-animation-fill-mode: both;
  // -moz-animation-fill-mode: both;
  // -ms-animation-fill-mode: both;
  // -o-animation-fill-mode: both;
  // animation-fill-mode: both;
}

body {
  font-family: 'Roboto', sans-serif;
  //letter-spacing: 1px;
}

.jumbotron {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 320px;

}

.header-jumbo {
  h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.21);
  }
}


.bottom-jumbo {
  margin-top: 30px;
  h1 {
    background-color: rgba(255, 255, 255, 0.50);
  }
}

.btn-calcular {
  margin-top: 30px;
}

.fa-5x {
  font-size: 7em;
  color: rgb(66, 66, 66);
  margin-top: 30px;
}

.col-md-2 {
  @include default-transition;
  opacity: 0.75;
  &:hover {
    @include default-transition;
    opacity: 1;
  }
}

/* Align input group
---------------------- */
.input-group {
  margin: 0 auto;
}


.help-block {
  font-size: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}
