<div class="container" ng-controller="MainCtrl as main">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-xs-6 col-md-2 text-center" ng-repeat="prop in props">
      <i class="fa {{prop.icon}} fa-5x"></i>
      <p></p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{prop.placeholder}}">
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-12 btn-calcular">
      <button type="submit" class="btn btn-primary btn-lg center-block"><i class="fa fa-calculator fa-fw"></i> Calcular</button>
    </div>
  </div>
</div>
